In [1]:
mylist = [1,2,3]

In [3]:
mylist

[1, 2, 3]

In [5]:
mylist.append(4)

In [7]:
mylist

[1, 2, 3, 4]

In [9]:
mylist.pop()

4

In [11]:
mylist

[1, 2, 3]

In [13]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [19]:
def say_hello():
    print("HELLO")
    print("how are you!")

In [21]:
say_hello()

HELLO
how are you!

In [23]:
say_hello

In [25]:
def say_hello(name):
    print(f"Hello {name}")

In [27]:
say_hello('preet')

Hello preet

In [29]:
def add_num(num1, num2):
    return num1+num2

In [33]:
add_num(1, 3)

4

In [35]:
def print_result(a,b):
    print(a+b)

In [37]:
def return_result(a,b):
    return a+b

In [39]:
result = print_result(10, 20)

30

In [41]:
result

In [43]:
result = return_result(10, 20)

In [45]:
result

30

In [47]:
def sum_numbers(num1, num2):
    return num1+num2

In [49]:
sum_numbers(10,20)

30

In [51]:
sum_numbers('10','20')

'1020'

In [53]:
2%2

0

In [55]:
3 % 2

1

In [57]:
41 % 40

1

In [59]:
20 % 2

0

In [61]:
20 % 2 == 0

True

In [63]:
21 % 2 == 0

False

In [65]:
def even_check(number):
    return number % 2 == 0

In [67]:
even_check(5)

False

In [69]:
even_check(8)

True

In [71]:
#RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [83]:
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
    return False

In [85]:
check_even_list([1,3,5])

False

In [87]:
check_even_list([2,4,5])

True

In [88]:
check_even_list([2,1,1])

True

In [93]:
def check_even_list(num_list):
    ''' return all the even numbers in a list'''
    even_nums = []
    
    for num in num_list:
        if num % 2 == 0:
            even_nums.append(num)
        else:
            pass
    return even_nums

In [95]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [97]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT', 100)]

In [101]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [103]:
for ticker,price in stock_prices:
    print(ticker)

APPL
GOOG
MSFT

In [105]:
for ticker,price in stock_prices:
    print(price + (0.1*price))

220.0
440.0
110.0

In [137]:
work_hours = [('abby',100),('billy',4000),('cassie',800)]

In [139]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
            
    return(employee_of_month,current_max)

In [143]:
result = employee_check(work_hours)

In [145]:
name,hours = employee_check(work_hours)

In [147]:
name

'billy'

In [149]:
hours

4000

In [151]:
example = [1,2,3,4,5,6,7,8,9]

In [153]:
from random import shuffle

In [155]:
shuffle(example)

In [157]:
example

[9, 4, 7, 5, 1, 6, 8, 2, 3]

In [159]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [161]:
result = shuffle_list(example)

In [163]:
result

[3, 8, 1, 4, 2, 9, 5, 7, 6]

In [165]:
mylist = ['','O','']

In [167]:
shuffle_list(mylist)

['O', '', '']

In [179]:
def player_guess():
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input("pick a number: 0,1 or 2 :")
    return int(guess)

In [181]:
player_guess()

pick a number: 0,1 or 2 : 0

0

In [183]:
myindex = player_guess

In [185]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print("correct")
    else:
        print("wrong guess!")
        print(mylist)

In [189]:
mylist = ['','0','']

mixedup_list = shuffle_list(mylist)

guess = player_guess()

check_guess(mixedup_list,guess)

pick a number: 0,1 or 2 : 4
pick a number: 0,1 or 2 : 1

wrong guess!
['', '', '0']

Functions #1: print Hello World
Write a function called myfunc that prints the string 'Hello World'.

In [192]:
def myfunc():
    print('Hello World')

Functions #2: print Hello Name
Define a function called myfunc that takes in a name, and prints 'Hello Name' 

NOTE: Define the function, but do not run it!

Also, do not use f-strings, as they are not supported in this Coding Exercise.

For example:

def myfunc(name):
    print('My name is {}'.format(name))


Remember, do not run the function! However, if we were to pass in a name, it would look like this:

myfunc('Jose')
#Output: My name is Jose

In [195]:
def myfunc(name):
    print( 'Hello {}'.format(name) )

Functions #3 - simple Boolean
Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye'

Remember, don't run the function, simply provide the definition.

For example, a function that returns 'Inside' if a is True and 'Outside' if a is False could look like:

def myfunc(a):
    if a == True:
        return 'Inside'
    elif a == False:
        return 'Outside'
This is all you need to enter!

To give an idea what the above function would look like when tested:

myfunc(False)
# Output: 'Outside'

In [199]:
def myfunc(a):
    if a == True:
        return 'Hello'
    elif a == False:
        return 'Goodbye'

Functions #4 - using Booleans
Define a function called myfunc that takes three arguments, x, y and z.
If z is True, return x.  If z is False, return y.

Remember, don't run the function, simply provide the definition.

For example, a function that returns a if c is True and b if c is False might look like:

def myfunc(a,b,c):
    if c == True:
        return a
    else:
        return b
This is all you need to enter!

To give an idea what the function would look like when tested:

myfunc('Hello','Goodbye',False)
# Output: 'Goodbye'

In [202]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

Functions #5: simple math
Define a function called myfunc that takes in two arguments and returns their sum.

Remember, don't run the function, simply provide the definition.

For example, a function that takes in two arguments and returns their product might look like:

def myfunc(a,b):
    return a*b
This is all you need to enter!

To give an idea what the above function would look like when tested:

myfunc(5,12)
# Output: 60

In [205]:
def myfunc(a,b):
    return a+b

Functions #6: is even
Define a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.

Remember, don't run the function, simply provide the definition.

For example, a function that returns True if a value is divisible by 3 might look like:

def is_evenly_divisible_by_3(n):
    if n%3 == 0:
        return True
    else:
        return False
This is all you need to enter!

To give an idea what the above function would look like when tested:

is_evenly_divisible_by_3(15)
# Output: True
Added note: this exercise requires that the function return True or False. Print statements will not work here.

In [208]:
def is_even(n):
    return n%2==0

Functions #7: is greater
Define a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second.

Remember, don't run the function, simply provide the definition.

For example, a function that returns True if the first value is less than the second might look like:

def is_less(c,d):
    if c < d:
        return True
    else:
        return False
This is all you need to enter!

To give an idea what the above function would look like when tested:

is_less(5,9)
# Output: True
Added note: this exercise requires that the function return True or False. Print statements will not work here.

In [211]:
def is_greater(a,b):
    return a>b

In [219]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05

In [221]:
myfunc(40,60,100)

10.0

In [223]:
def myfunc(*args):
    return sum(args) * 0.05

In [227]:
myfunc(40,60,100,1,34)

11.75

In [229]:
def myfunc(*args):
    print(args)

In [231]:
myfunc(40,60,100,1,34)

(40, 60, 100, 1, 34)

In [233]:
def myfunc(*args):
    for item in args:
        print(item)

In [235]:
myfunc(40,60,100,1,23)

40
60
100
1
23

In [243]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [245]:
myfunc(fruit='apple', veggie='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [247]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [253]:
myfunc(10,20,30,fruit='orange', food='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

Functions #8: *args
Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

Remember, don't run the function, simply provide the definition.

For example, a function that returns a count of the number of arbitrary arguments might look like:

def myfunc(*args):
    return len(args)
This is all you need to enter!

To give an idea what the above function would look like when tested:

myfunc(5,6,7,8)
# Output: 4
Added note: this exercise requires that the function return the sum. Print statements will not work here

In [256]:
def myfunc(*args):
    return sum(args)

Functions #9: pick evens
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

Remember, don't run the function, simply provide the definition.

To give an idea what the function would look like when tested:

myfunc(5,6,7,8)
# Output: [6, 8]
Added note: this exercise requires that the function return a list. Print statements will not work here.

In [259]:
def myfunc(*args):
    return [x for x in list(args) if x%2==0]

Functions #10: skyline
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

Remember, don't run the function, simply provide the definition.

To give an idea what the function would look like when tested:

myfunc('Anthropomorphism')
# Output: 'aNtHrOpOmOrPhIsM'
Added note: this exercise requires that the function return a string. Print statements will not work here.

In [264]:
def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [266]:
myfunc('preet')

'pReEt'

Function Practice Exercises

WARMUP SECTION:
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [23]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [17]:
# Check
lesser_of_two_evens(2,4)

2

In [19]:
# Check
lesser_of_two_evens(2,5)

5

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False

In [29]:
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [31]:
# Check
makes_twenty(20,10)

True

In [47]:
# Check
makes_twenty(2,3)

False

In [50]:
makes_twenty(12,8)

True

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False

In [25]:
def animal_crackers(text):
    wordlist = text.lower().split()
    return wordlist[0][0] == wordlist[1][0]

In [27]:
# Check
animal_crackers('Levelheaded Llama')

True

In [116]:
# Check
animal_crackers('Crazy Kangaroo')

False

LEVEL 1 PROBLEMS
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [124]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [126]:
# Check
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed
master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [150]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [152]:
# Check
master_yoda('I am home')

'home am I'

In [154]:
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [168]:
def almost_there(n):
    return ((abs(100-n) <= 10) or (abs(200-n) <= 10))

In [170]:
# Check
almost_there(90)

True

In [171]:
# Check
almost_there(150)

False

In [174]:
# Check
almost_there(209)

True

LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [181]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [183]:
# Check
has_33([1, 3, 3])

True

In [186]:
# Check
has_33([1, 3, 1, 3])

False

In [188]:
# Check
has_33([3, 1, 3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [247]:
def paper_doll(text):
    result = '' 
    for char in text:
        result += char*3
    return result

In [248]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [251]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [1]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif sum([a,b,c]) <= 31 and 11 in [a,b,c]:
            return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [7]:
# Check
blackjack(5,6,7)

18

In [9]:
# Check
blackjack(9,9,9)

'BUST'

In [11]:
# Check
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [3]:
# Check
summer_69([1, 3, 5])

9

In [5]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [7]:
# Check
summer_69([2, 1, 6, 9, 11])

14

CHALLENGING PROBLEMS
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 spy_game([1,2,4,0,0,7,5]) --> True
 spy_game([1,0,2,4,0,5,7]) --> True
 spy_game([1,7,2,0,4,5,0]) --> False

In [19]:
def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [21]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [23]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [25]:
# Check
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

In [1]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [7]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25


Just for fun, not a real problem :)
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [9]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [11]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [13]:
print_big('b')

****
*   *
****
*   *
****

In [15]:
print_big('c')

*****
*
*
*
*****

In [17]:
print_big('d')

****
*   *
*   *
*   *
****

In [19]:
print_big('e')

*****
*
*****
*
*****

In [5]:
def square(num):
    return num ** 2

In [9]:
my_nums = [1,2,3,4,5]

In [11]:
map(square,my_nums)

In [15]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [13]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [27]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [29]:
names = ['Andy', 'Eve', 'Sally']

In [30]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [33]:
def check_even(num):
    return num%2 == 0

In [35]:
mynums = [1,2,3,4,5,6]

In [39]:
filter(check_even,mynums)

In [43]:
list(filter(check_even,mynums))

[2, 4, 6]

In [45]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [51]:
def square(num):
    return num ** 2

In [53]:
square(3)

9

In [55]:
square = lambda num: num ** 2

In [57]:
square(4)

16

In [59]:
list(map(lambda num: num **2,mynums))

[1, 4, 9, 16, 25, 36]

In [61]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [63]:
names

['Andy', 'Eve', 'Sally']

In [65]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS']

In [67]:
x = 25

def printer():
    x = 50
    return x

In [71]:
print(x)

25

In [73]:
print(printer())

50

In [75]:
lambda num:num**2

In [77]:
name = 'THIS IS A GLOBAL STRING'

def greet():
    name = 'Sammy'
    def hello():
        print('Hello ' + name)
    hello()

greet()

HelloSammy

In [81]:
#GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    #ENCLOSING
    name = 'Sammy'
    def hello():
        #LOCAL
        name = 'IM A LOCAL'
        print('Hello ' + name)
    hello()

greet()

Hello IM A LOCAL

In [83]:
len

In [85]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [87]:
x = 50 

def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [3]:
x = 50 

def func():
    global x
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')

In [7]:
func()

X is 50
I JUST LOCALLY CHANGED X TO NEW VALUE

In [9]:
x

'NEW VALUE'

In [11]:
x = 50 

def func(x):
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X TO {x}')
    return x

In [21]:
x = func(x)

X is NEW VALUE
I JUST LOCALLY CHANGED X TO NEW VALUE